.image{
    background-image:url(bg.jpg);
}
.box{
    background-color: rgb(157, 159, 160);
    text-align: center;
    color:white;
    width:63%;
    margin:auto;
    padding: 10px;
    overflow: hidden;
}
.box:hover{
    background-color:rgb(121, 121, 117);
    width: 80%;
    border: 5px;
    border-color: aliceblue;
    border-style:double;
    transition: background-color 0.5s ease 100ms ;
    transition: width 1.2s ease 100ms ;
    overflow: hidden;
}
.small{
    width: 68%;
    margin: auto;
}
.big{
    width: 85%;
    margin:auto;
}